@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below */

/* You can add global styles to this file, and also import other style files */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

/* Font family */
body {
  font-family: 'Inter', sans-serif;
}
